@import '../../gutenberg-blocks-variables.scss';

.title-tainacan {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 15px;
    }

    .tainacan-title-bar {
        border-bottom: 6px solid $vermelho1;
        width: 7%;
    }
}